:root {
    --colorPrimary: #3d5c70;
    --colorPrimaryDark: #273043;
    --colorAccent: #f02d3a;
    --colorAccent2: rgb(0, 214, 71);
    --colorAccentDark: #bd212b;
    --navColor: white;
    --shadowColor: #222222;
    --profileTextColor: white;
    --boxShadowStyle: 0px 1px 5px var(--shadowColor);
    --cardBackground: white;
    --accentBorderStyle: 5px solid var(--colorAccent);
    --fastTransitionDuration: 0.2s;
    --mediumTransitionDuration: 0.4s;
    --longTransitionDuration: 0.6s;
    --commentsBackground: var(--colorPrimaryDark);
    --pageGradientBackground: linear-gradient(65deg, rgba(85, 38, 116, 1) 0%, rgba(136, 14, 14, 1) 100%);
    --pageBackground: var(--pageGradientBackground);
}