@import "styles.css";
#game-canvas {
    text-align: center;
    border: var(--accentBorderStyle);
    box-shadow: var(--boxShadowStyle);
}

#game-container {
    text-align: center;
}

h1 {
    color: var(--profileTextColor);
}

kbd {
    font-family: inherit;
    font-size: inherit;
    color: rgb(75, 75, 73);
    background-color: rgb(244, 244, 244);
    border: solid 1px #c0bfbc;
    border-radius: 2px;
    font-style: bold;
    box-shadow: 1px 1px 2px #c0bfbc;
    padding: 5px 5px 5px 5px;
    white-space: nowrap;
}