html,
body {
    padding: 0%;
    background: white;
}

.leftcolumn,
.rightcolumn {
    width: 100%;
    padding: 0;
}

.header h1 {
    color: black;
}

.header h2 {
    color: black;
}

.no-print,
.no-print * {
    display: none !important;
}