@import "color_style.css";
* {
    box-sizing: border-box;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    background: var(--pageBackground);
}


/* Header/Blog Title */

.header {
    text-align: center;
}

.header h1 {
    color: var(--profileTextColor);
    font-size: 40px;
    text-shadow: 0px 3px 6px 6px rgba(51, 51, 51, 0.35);
}

.header h2 {
    color: var(--profileTextColor);
    font-size: 25px;
}

.header .profile-container img {
    width: 5cm;
    height: 5cm;
    border-radius: 50%;
    border: var(--accentBorderStyle);
    box-shadow: var(--boxShadowStyle);
    transition: var(--fastTransitionDuration);
}

.header .profile-container img:hover {
    border-color: var(--colorAccent2);
}

.trailing-underscore {
    animation: blinkingText 1.0s infinite;
}

@keyframes blinkingText {
    0% {
        color: var(--profileTextColor);
    }
    49% {
        color: var(--profileTextColor);
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: var(--profileTextColor);
    }
}


/*=============== Style the top navigation bar =============*/

.topnav {
    overflow: hidden;
    background-color: var(--colorPrimaryDark);
    border-bottom: var(--accentBorderStyle);
    box-shadow: var(--boxShadowStyle);
    margin-bottom: 10px;
    transition: var(--fastTransitionDuration);
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: var(--navColor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: var(--fastTransitionDuration);
}

.topnav a.active {
    background: var(--colorPrimary);
    border-bottom-color: var(--colorAccent2);
}


/* Change color on hover */

.topnav a:hover {
    color: var(--colorAccent);
}


/*============ Content columns ===================*/


/* Create two unequal columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}


/* Right column */

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}


/* Add a card effect for articles */

.card {
    background-color: var(--cardBackground);
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: var(--accentBorderStyle);
    box-shadow: var(--boxShadowStyle);
    transition: var(--fastTransitionDuration);
}

.card i {
    color: var(--colorAccent);
}

.card .quote {
    font-size: 24px;
    margin: 5px;
}

.centered-card {
    text-align: center;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.form-container label {
    display: block;
}

.form-container input,
textarea,
button {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    min-width: 6cm;
    font-size: 14px;
}

.form-container input:hover,
textarea:hover,
button:hover {
    box-shadow: var(--boxShadowStyle);
}

button {
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    border: var(--accentBorderStyle);
    border-color: var(--colorAccent);
    border-width: 2px;
    display: block;
    transition: 0.05s;
}

button:hover {
    border-color: var(--colorAccent2);
    box-shadow: var(--boxShadowStyle);
}

.social-links {
    text-align: center;
}

.social-links a {
    display: inline-block;
}

.social-links img {
    margin-right: 0.5cm;
    margin-left: 0.5cm;
    width: 1cm;
    height: 1cm;
}

.qualification-container {
    width: 100%;
}

.qualification-container h3 {
    text-align: center;
    border-bottom: 1px dashed var(--colorPrimaryDark);
}

.qualification-container .subtitle {
    width: 100%;
    text-align: center;
}

.qualification-container h4 {
    font-style: italic;
    font-size: 16px;
    margin-left: 20px;
}

.qualification-container .logo {
    margin-right: 15px;
    max-width: 5cm;
    max-height: 2cm;
    vertical-align: middle;
}

.qualification-container .row-title {
    font-weight: bold;
    color: var(--colorAccent);
    text-align: left;
}

.flag {
    max-width: 1cm;
    max-height: 1cm;
    margin-right: 10px;
}

.general-container {
    display: table;
    border-spacing: 10px 0;
}

.general-container p {
    display: table-row;
}

.general-container b {
    display: table-cell;
    text-align: right;
}

.general-container span {
    display: table-cell;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.footer {
    text-align: center;
    margin-top: 10px;
}

.comment-zone {
    text-align: right;
    padding: 10px;
    color: white;
    overflow-y: scroll;
    height: 700px;
    max-height: 100%;
}

.comment-bubble {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px 5px 10px 10px;
    box-shadow: var(--boxShadowStyle);
    border-bottom: var(--accentBorderStyle);
    border-right: var(--accentBorderStyle);
    background: var(--commentsBackground);
}

.comment-bubble.bubble-1 {
    border-color: var(--colorAccent);
}

.comment-bubble.bubble-2 {
    border-color: var(--colorAccent2);
}

.comment-bubble .pseudo {
    text-align: end;
}

.comment-bubble .content {
    text-align: start;
    margin-bottom: 5px;
}

.project-card img {
    display: block;
    max-height: 8cm;
    margin-left: auto;
    margin-right: auto;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1200px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}